<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8" />
            <title>I long must i cry</title>
        </head>

        <body>

            {{{ body }}}

        </body>
    </html>